@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoProject1.Controllers;
@using UmbracoProject1.Models;

@{
	Layout = "BasePage.cshtml";
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-10 col-md-12">
			<div class="wrapper">
				<div class="row no-gutters">
					<div class="col-md-12 d-flex align-items-stretch">
						<div class="contact-wrap w-100 p-md-5 p-4">
							<h3 class="mb-4">Write Your Email</h3>
							<div id="form-message-warning" class="mb-4"></div> 
								@if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
								{
									<p>Your message was sent successfully</p>
								}
								else
								{
									Html.RenderPartial("~/Views/Partials/EmailForm.cshtml", new EmailViewModel());
								}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>